div{
    font-family: 'Times New Roman', Times, serif;
}
.banner2{
    background-image: url('https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size:cover ;
    
}
.div1{
    opacity: 0.8;
}
input,textarea{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 2px solid white;
    border-radius: 5px;
}
button{
    background-color: rgb(52, 128, 242);
    border-radius: 15px;
    padding: 15px;
 border: 4px solid rgb(3, 72, 121);
color: white;
width: 200px;
margin: auto;
}
label{
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
input:hover,textarea:hover{
    border: 2px solid rgb(59, 119, 231);
}
.orderbg{
    background-image:radial-gradient(90deg, #211e52 0%, #090979 35%, #00d4ff 100%);
}
